<!DOCTYPE html>
<html>
<head>
  <title>Service Pro Homepage</title>
  <meta name="Window" content="width=device-width,initial-scale=1" >
  <link href="style.css" rel="stylesheet">
</head>
<body>

<div class id = "titledisplay">
  <h2>Service Pro Community</h2>
</div>

<div class id = "subtitle">
  <h2>Reinventing The Gig Economy</h2>
</div>

<div class = "navbar">
  <ul> 
    <li><a href = "./index.html">Home</a></li>
    <li><a href ="./app.html">Our App</a></li>
    <li><a href = "./services.html">Services Offered</a></li>
    <li><a href = "./resources.html">Additional Resources</a></li>
    <li><a href = "./contact.html">Contact</a></li>
  </ul>
</div>




</body>
</html>