<!DOCTYPE html>
<html>
<head>
  <title>Service Pro Homepage</title>
  <meta name="Window" content="width=device-width,initial-scale=1" >
  <link href="style.css" rel="stylesheet">
</head>
<body>

<div class id = "titledisplay">
  <h1>Service Pro Community</h1>
</div>

<div class id = "subtitle">
  <h2>Reinventing The Gig Economy</h2>
</div>

<div class = "navbar">
  <ul> 
    <li><a href = "./index.html">Home</a></li>
    <li><a href ="./app.html">Our App</a></li>
    <li><a href = "./services.html">Services Offered</a></li>
    <li><a href = "./resources.html">Additional Resources</a></li>
    <li><a href = "./contact.html">Contact</a></li>
  </ul>
</div>


<div class = "servicestable">
  <h2> Services we Offer </h2>
<table>
  <thead>
    <tr>
    <th scope = "col"> Service </th>
    <th scope = "col"> SPC Capability </th>
    <th scope = "col"> Cost  </th>
    <th scope = "col"> More Info </th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td> Website Development </td>
      <td> Develop and host a fully functioning website containing features such as, but not limited to: photos/videos, links, calendars, payment options, tables/charts, etc. </td> 
      <td> $300 - $650 </td>
      <td><a href = "./webdevelopment.html"> Details </a></td>
    </tr>
    <tr>
      <td> Logo Creation </td>
      <td> Create an open concept logo with virtually limitless capabilities regarding form, style, color, etc. </td> 
      <td> $150 - $400 </td> 
      <td><a href = "./logocreation.html"> Details </a></td>
    </tr> 
    <tr> 
      <td> Consulting </td> 
      <td> Host meetings surrounding entreprenuer growth, partnership proposals and aquisitions, developing your network and brand, etc. </td> 
      <td> $30/hr - $50/hr </td> 
      <td><a href = "./consulting.html"> Details </a></td> 
    </tr>
 <tr>
    <td> Advertising/Promotion </td>
    <td> Generate and promote advertisements for entreprenuers, events, companies, projects etc. (also promotes premade ads) </td>
    <td> $20 - $300 </td>
    <td><a href = "./advertising.html"> Details </a></td>
  </tr>
 <tr>
    <td> SPC Application </td>
    <td> A web application that compiles all of the services offered on our website, while centralizing opportunity for the gig economy </td>
    <td> FREE - $4.99/mo </td>
    <td><a href = "./appdetail.html"> Details </a></td>
  </tr>
  </tbody>
</table>
</div>

</body>
</html>